@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Formula1-Regular";
	src: url("/src/assets/fonts/formula1wide.ttf") format("truetype");
}

html {
	scroll-behavior: smooth;
}

body {
	@apply font-f1;
	@apply bg-white text-f1-text;
	-webkit-font-smoothing: antialiased;
}

.slick-prev,
.slick-next {
	@apply w-10 h-10 z-10;
}

.slick-prev {
	@apply left-1;
}

.slick-next {
	@apply right-1;
}

.slick-prev::before,
.slick-next::before {
	font-size: 2.5rem;
}

@media (max-width: 600px) {
	.slick-prev,
	.slick-next {
		display: none !important;
	}
}

.whatsapp-ico {
	fill: white;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.whatsapp-ico:hover {
	box-shadow: 2px 2px 11px rgba(148, 146, 146, 0.7);
}
